:root {
  font-size: 62.5%;
  --gray-bg-color: #f1f5f9;
  --form-width: 90%;
  --form-min-width: 30rem;
  --form-max-width: 50rem;
  --shadow-edit-forms: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --save-color: #5adbb5;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
#root {
  align-self: stretch;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: flex-start;
  column-gap: 3rem;
  row-gap: 3rem;
  background-color: var(--gray-bg-color);
}

.edit-cv-container {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.edit-cv-container h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

.personal-form {
  /* border: 1px solid black; */
  box-shadow: var(--shadow-edit-forms);
  border-radius: 2rem;
  padding: 1rem 2rem;
  min-width: var(--form-min-width);
  max-width: var(--form-max-width);
  width: var(--form-width);
  background-color: #fff;
}
.personal-form h3 {
  text-align: center;
}
input {
  background-color: var(--gray-bg-color);
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.personal-form button {
  margin-top: 2rem;
  background-color: var(--save-color);
}

.cv-view {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  background-color: #fff;
  aspect-ratio: 1 / 1.4142;
  padding: 6rem 5rem;
}

.personal-view {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
}

.personal-view h1 {
  align-self: stretch;
  text-align: center;
  border-bottom: 5px darkslategrey solid;

  margin: 0;
}

.personal-details-container {
  align-self: center;
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-top: 2rem;
}

.personal-details-container p {
  margin: 0;
}

.personal-details-container span {
  align-self: center;
}

.personal-details-container > div {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1250px) {
  .personal-details-container {
    align-self: start;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

.editor {
  justify-self: center;
  box-shadow: var(--shadow-edit-forms);
  border-radius: 2rem;
  padding: 1rem 0;
  min-width: var(--form-min-width);
  max-width: var(--form-max-width);
  width: var(--form-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

.editor h3 {
  text-align: center;
}

.editor ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.editor li {
  text-align: left;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 2rem 2px 2rem;
  padding-bottom: 2px;

  border-bottom: 2px var(--gray-bg-color) solid;
}

.edit-btns {
  display: flex;
  gap: 2rem;
}

.edit-btns button {
  margin-top: 1rem;
}

.edit-btn {
  margin-left: auto;
}

.save-btn {
  background-color: var(--save-color);
}

.experience-list-view {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience-list-view li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 2rem;

  justify-items: left;
  align-items: center;
}
.experience-list-view li h4 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-start;
}

.experience-list-view li * {
  margin: 0;
}
.experience-list-view li .role-view,
.work-list-view li .position-view {
  grid-column: 2/3;
  grid-row: 2/3;
}
.experience-list-view li .date-view {
  grid-column: 1/2;
  grid-row: 1/2;
}

.experience-list-view li .location-view {
  grid-column: 1/2;
  grid-row: 2/3;
}

.delete-btn {
  background-color: #ed0800;
  color: #fff;
  margin-right: auto;
}

.experience-form input {
  margin-bottom: 1rem;
}

.experience-form {
  padding-left: 2rem;
  padding-right: 2rem;
}

.edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
